$contentBackground:#efefef;

$articleBackground:#ffffff;
$postDescrition:#bdbdbd;
$postHeader:#617d8a;

$navBorder:#cfd8dc;
$searchBackground:#efefef;

$navLink:#fc5830;
$headerColor:#fc5830;
$submitButton:#fc5830;

$paragraphText:#757575;
$darkBorder:#cfd8dc;
$contactInputBackground:#efefef;

$page-font:serif; 
