$contentBackground:#fff;

$articleBackground:#efefef;
$postDescrition:#3f9f9e;
$postHeader:#1697a6;

$navBorder:#000000;
$searchBackground:#ffffff;

$navLink:#1fbcd3;
$headerColor:#1fbcd3;
$submitButton:#1fbcd3;

$paragraphText:#617d8a;
$darkBorder:#617d8a;
$contactInputBackground:#ffffff;

$page-font:sans-serif;